.footer {
    color : var(--text-main);
    background-color: var(--bg-main);
    border-top: var(--border);
    padding: 10% 2.5% 2.5% 2.5%;
}

.footer__title {
    text-align: center;
    font: var(--font-s);
    text-transform: uppercase;
}