.section {
    color : var(--text-main);
    background-color: var(--bg-main);
}

.section__title {
    padding: var(--base-padding);
    padding-top: 6.5%;
    padding-bottom: 16px;
    text-align: center;
    font: var(--font-l);
}

.section__paragraph {
    padding: var(--base-padding);
    padding-bottom: .3em;
    font: var(--font-s);
}

.section__paragraph:last-child {
    padding-bottom: 0;
}

.section__paragraph_first-letter::first-letter {
    display: inline-block;
    font: var(--font-l);
    font-family: var(--raleway);
    font-weight: var(--fw-bold);
    padding: 0 4px 0;
    margin-right: 1px;
}

.theme_dark .section__paragraph_first-letter::first-letter {
    border: var(--border);
}

.theme_light .section__paragraph_first-letter::first-letter {
    background-color: var(--special);
}

.section__figure {
    padding: 6% 0 5%;
}

.section__figure-picture {
    width: 100%;
}

.section__figure-description {
    padding: var(--base-padding);
    border-bottom: var(--border);
    font: var(--font-s);
    text-align: center;
}

.section__article {
    aspect-ratio: 4 / 3;
    padding : var(--base-padding);
    padding-top: 6.2%;
}

.section__article-wrapper {
    height: 100%;
    border: var(--border);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__article-title {
    width: clamp(412px, 50%, 213px);
    font: var(--font-xl);
    line-height: 100%;
    font-size: 60px; /* Не масштабируется как стандартный размер */
}

.section__article-translate {
    font: var(--font-s);
}

.section__blockquote {
    margin: 0 auto;
    width: 68%;
    padding: 1.5em 0;
    font: var(--font-s);
    line-height: 200%;
    font-style: italic;
}

.section__blockquote + .section__paragraph {
    padding-top: 0;
}

.section__link {
    font: var(--font-s);
    text-decoration: underline var(--text-main);
}

.section__link:hover {
    text-decoration: underline var(--text-main-alpha);
}

.section__link:focus {
    outline: 1px solid var(--text-main);
}

.section__list {
    padding: var(--base-padding);
    padding-top: 5%;
    font: var(--font-xl);
    font-size: 30px;
    text-align: center;
}

.section__list-item {
    padding-left: 15px;
    font: var(--font-s);
    text-align: left;
    list-style: none;
    padding-bottom: 10px;
}

.section__list-item:first-child {
    padding-top: 1.6em;
}

.section__list-item::before {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 8px;
    content: "";
}

.theme_dark .section__list-item::before {
    background-image: url("../images/marker-dark.svg");
}

.theme_light .section__list-item::before {
    background-image: url("../images/marker-light.svg");
}

.section__special {
    position: relative;
}

.theme_dark .section__special {
    font-weight: var(--fw-bold);
    background-position-y: 100%;
    background-image: url("../images/pattern.svg");
    background-repeat: repeat-x;
}

.theme_light .section__special::after {
    content: "";
    position: absolute;
    display: block;
    height: 8px;
    bottom: 2px;
    right: 0;
    left: 0;
    width: 100%;
    background-color: var(--special);
    z-index: -1;
}